<div
  class="container-add_producto border mt-4 rounded p-2 py-5"
  [formGroup]="formCreateProduct"
  style="height: 80vh; overflow-y: scroll"
>
  <div class="container-title">
    <h2 class="text-center mb-2" style="font-size: 2.5rem">
      Crear Un Nuevo Producto
    </h2>
  </div>
  <div class="section-images m-auto mt-5">
    <h4 class="text-center my-2">Foto Principal</h4>
    <div
      class="main-img m-auto border rounded"
      style="width: 175px; height: 175px"
    >
      <img
        [src]="urlImgPrincipal.url"
        alt="No hay imagen principal"
        style="width: 100%; height: 100%; object-fit: cover"
      />
    </div>

    <div class="m-auto w-100 d-flex justify-content-center p-2">
      <!-- Añade un campo de entrada para archivos múltiples -->
      <input
        type="file"
        (change)="onFileChange($event)"
        multiple
        accept="image/*"
        style="display: none"
        id="fileInput"
      />
      <label for="fileInput" class="btn btn-success"
        >Cargar Imágenes (.PNG)</label
      >
    </div>
    <div class="list-img_product border rounded p-1 px-3">
      <b>
        <p class="text-center">
          Lista de imagenes (Selecciona la principal)
        </p></b
      >
      <div *ngIf="mensajeError !== ''" class="alert alert-danger" role="alert">
        <span>{{ mensajeError }}</span>
      </div>

      <ul class="form-check">
        <li
          class="d-flex align-items-center"
          style="font-size: 13px"
          *ngFor="let img of listImg"
        >
          <input
            type="radio"
            class="form-check-input"
            name="check-img"
            style="font-size: 18px"
            (click)="selectImgPrincipal(img)"
          />
          <span
            class="mx-1"
            style="font-size: 18px; cursor: pointer"
            (click)="selectImgPrincipal(img)"
          >
            {{ img.name }}</span
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- //formulario de producto -->
  <div class="container-form p-2">
    <div class="row mb-1">
      <div class="col-ms-12 col-md-6">
        <label for="nombre-producto" class="form-label mb-0"
          >Nombre Del producto</label
        >
        <input
          formControlName="nombreProduct"
          type="text"
          class="form-control"
          id="nombre-producto"
        />
        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('nombreProduct')!.invalid &&
            formCreateProduct.get('nombreProduct')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
      <div class="col-ms-12 col-md-6">
        <label for="categorias" class="form-label mb-0"
          >Categoria Del Producto</label
        >
        <select
          class="form-select"
          id="categorias"
          aria-label="Default select example"
          formControlName="categoriaProduct"
        >
          <option selected value="">Selecciona una categoría</option>
          <option
            value="{{ categoria.id }}"
            *ngFor="let categoria of listCategory"
          >
            {{ categoria.category_name | titlecase }}
          </option>
        </select>

        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('categoriaProduct')!.invalid &&
            formCreateProduct.get('categoriaProduct')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-ms-12 col-md-6">
        <label for="precio-compra" class="form-label mb-0"
          >Precio De Compra (Sin puntos)</label
        >
        <input
          #precioCompra
          formControlName="precioCompra"
          type="number"
          class="form-control"
          id="precio-compra"
          (change)="
            precioSugerido();
            limpiarPuntosPrecios('precioCompra', precioCompra.value)
          "
        />
        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('precioCompra')!.invalid &&
            formCreateProduct.get('precioCompra')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
      <div class="col-ms-12 col-md-6">
        <label for="precio-venta" class="form-label mb-0"
          >Precio De Venta (Sin puntos)</label
        >
        <span class="text-info" *ngIf="valorSugerido">
          V sugerido: {{ valorSugerido }}
        </span>
        <input
          #precioVenta
          formControlName="precioVenta"
          type="number"
          class="form-control"
          id="precio-venta"
          (change)="limpiarPuntosPrecios('precioVenta', precioVenta.value)"
        />
        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('precioVenta')!.invalid &&
            formCreateProduct.get('precioVenta')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-ms-12 col-md-6">
        <label for="precio-Promocion" class="form-label mb-0"
          >Precio De Promoción (Sin puntos)</label
        >
        <input
          #precioPromocion
          formControlName="precioPromocion"
          type="number"
          class="form-control"
          id="precio-Promocion"
          (change)="
            validatePrecioPromocion();
            limpiarPuntosPrecios('precioPromocion', precioPromocion.value)
          "
        />

        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('precioPromocion')!.invalid &&
            formCreateProduct.get('precioPromocion')!.touched
          "
        >
          Si se activa promoción este campo es requerido, preferible mayor a
          {{ this.formCreateProduct.get("precioCompra")!.value }}
        </div>
      </div>
      <div class="col-ms-12 col-md-6">
        <label for="estado-producto" class="form-label mb-0"
          >Estado Del Producto</label
        >
        <select
          class="form-select"
          id="estado-producto"
          aria-label="Default select example"
          formControlName="estado"
        >
          <option selected value="">Seleciona un estado</option>
          <option value="{{ estado.id }}" *ngFor="let estado of listEstados">
            {{ estado.names_state | titlecase }}
          </option>
        </select>

        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('estado')!.invalid &&
            formCreateProduct.get('estado')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-ms-12 col-md-6">
        <label for="ref-fabrica" class="form-label mb-0"
          >Referencia De Fabrica o N/A</label
        >
        <input
          formControlName="referenciaFabrica"
          type="text"
          class="form-control"
          id="ref-fabrica"
        />
        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('referenciaFabrica')!.invalid &&
            formCreateProduct.get('referenciaFabrica')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
      <div class="col-ms-12 col-md-6">
        <label for="proveedor-producto" class="form-label mb-0"
          >Proveedor Del Producto</label
        >
        <select
          class="form-select"
          id="proveedor-producto"
          aria-label="Default select example"
          formControlName="proveedor"
        >
          <option selected value="">Seleciona un proveedor</option>
          <option
            value="{{ proveedor.id }}"
            *ngFor="let proveedor of listProviders"
          >
            {{ proveedor.providers_name | titlecase }}
          </option>
        </select>
        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('proveedor')!.invalid &&
            formCreateProduct.get('proveedor')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-ms-12 col-md-6">
        <label for="link-mercado_libre" class="form-label mb-0"
          >Link De Mercado Libre</label
        >
        <input
          formControlName="linkMercadoLibre"
          type="text"
          class="form-control"
          id="link-mercado_libre"
        />
      </div>
      <div class="col-ms-12 col-md-3">
        <label for="stock" class="form-label mb-0">Stock</label>
        <input
          formControlName="stock"
          type="number"
          class="form-control"
          id="stock"
        />
        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('stock')!.invalid &&
            formCreateProduct.get('stock')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
      <div class="col-ms-12 col-md-3">
        <label for="fechaCompra" class="form-label mb-0">Fecha De Compra</label>
        <input
          formControlName="fechaCompra"
          type="date"
          class="form-control"
          id="fechaCompra"
        />
        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('fechaCompra')!.invalid &&
            formCreateProduct.get('fechaCompra')!.touched
          "
        >
          Campo requerido
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-ms-12 col-md-6">
        <label for="link-mercado_libre" class="form-label mb-0"
          >Link De Video Youtube</label
        >
        <input
          formControlName="linkYoutube"
          type="text"
          class="form-control"
          id="link-mercado_libre"
        />
      </div>

      <div class="col-ms-12 col-md-3 d-flex">
        <label for=""></label>
        <div class="">
          <label class="form-check-label" for="pesoTotal">Peso En Kilos</label>
          <input
            formControlName="pesoTotal"
            class="form-control"
            type="number"
            role="switch"
            id="pesoTotal"
          />
          <div
            class="text-danger"
            *ngIf="
              formCreateProduct.get('pesoTotal')!.invalid &&
              formCreateProduct.get('pesoTotal')!.touched
            "
          >
            Campo requerido
          </div>
        </div>
      </div>
      <div class="col-ms-12 col-md-3 d-flex" style="align-items: flex-end">
        <label for=""></label>
        <div class="form-check form-switch">
          <input
            formControlName="activaPromo"
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="activaPromo"
            checked
            (change)="validatePrecioPromocion()"
          />
          <label class="form-check-label" for="activaPromo"
            >¿En Promoción?</label
          >
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-ms-12 col-md-6 mb-1">
        <label for="proveedor-producto" class="form-label mb-0"
          >Dueño Del Producto</label
        >
        <select
          class="form-select"
          id="dueño-producto"
          aria-label="Default select example"
          formControlName="owner"
        >
          <option selected value="">Seleciona un dueño</option>
          <option value="{{ owner.id_owner }}" *ngFor="let owner of listOwner">
            {{ owner.name_owner | titlecase }}
          </option>
        </select>
        <div
          class="text-danger"
          *ngIf="
            formCreateProduct.get('owner')!.invalid &&
            formCreateProduct.get('owner')!.touched
          "
        >
          Campo requerido
        </div>
      </div>

      <div class="col-ms-12 col-md-6 mb-1">
        <label for="proveedor-producto" class="form-label mb-0"
          >Etiquetas</label
        >
        <div class="d-flex gap-1">
          <input
            formControlName="label"
            list="listProductoAdd"
            class="form-control"
            aria-label="Search"
            type="text"
            (keydown)="keyDownEnter($event)"
          />

          <datalist id="listProductoAdd">
            <option
              *ngFor="let label of dataListLabel"
              value="{{ label.nombre | titlecase }}"
            ></option>
          </datalist>

          <button
            class="btn btn-success p-0"
            style="width: 25px"
            *ngIf="formCreateProduct.get('label')!.value !== ''"
            (click)="addLabel()"
          >
            <span class="material-symbols-outlined"> check </span>
          </button>
        </div>
      </div>
    </div>
    <h4 class="text-center">Listado De Etiquetas</h4>
    <div class="row mb-1 d-flex gap-1 px-5">
      <span
        class="badge text-bg-light text-dark border"
        style="width: auto; cursor: pointer; padding: 5px 10px; font-size: 1rem"
        *ngFor="let label of labelList"
        (click)="editLabel(label)"
        >{{ label }}</span
      >
    </div>

    <div class="row m-0 mb-1">
      <label style="align-self: flex-end; padding-left: 0" for="Descripcion"
        >Descripción</label
      >
      <textarea
        formControlName="descripcion"
        class="form-control"
        id="Descripcion"
        style="min-width: 100%; resize: both"
      ></textarea>
      <div
        class="text-danger"
        *ngIf="
          formCreateProduct.get('descripcion')!.invalid &&
          formCreateProduct.get('descripcion')!.touched
        "
      >
        Campo requerido
      </div>
    </div>
    <div class="row m-0 mb-1">
      <label style="align-self: flex-end; padding-left: 0" for="Caracteristicas"
        >Características (separadas por ***)</label
      >
      <textarea
        formControlName="caracteristicas"
        class="form-control"
        style="min-width: 100%; resize: both"
        id="Caracteristicas"
      ></textarea>
      <div
        class="text-danger"
        *ngIf="
          formCreateProduct.get('caracteristicas')!.invalid &&
          formCreateProduct.get('caracteristicas')!.touched
        "
      >
        Campo requerido
      </div>
    </div>
    <div
      *ngIf="mensajeError !== ''"
      class="alert alert-danger text-center"
      role="alert"
    >
      <span>{{ mensajeError }}</span>
    </div>
    <div class="my-4 d-flex justify-content-center gap-3 pb-3">
      <button class="btn btn-light" (click)="clearform()">Cancelar</button>
      <button class="btn btn-primary" (click)="onSubmit()">Guardar</button>
    </div>
  </div>
  <!-- //text areas Descripción y  Características-->
</div>
