<!-- Button trigger modal -->

<button
  class="btn p-0"
  data-bs-target="#terminos-condiciones"
  data-bs-toggle="modal"
>
  <p style="color: #ffffff; padding-bottom: 5px">Términos y condiciones</p>
</button>

<div
  class="modal fade"
  id="terminos-condiciones"
  aria-hidden="true"
  aria-labelledby="terminos-condicionesLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="terminos-condicionesLabel">Modal 1</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi earum
        qui necessitatibus adipisci amet doloribus, reiciendis consectetur
        nobis, eum ad cum doloremque, provident dolore nostrum distinctio quod
        ipsum soluta enim! Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Rem veritatis autem iste ut sed! Ea soluta placeat labore earum.
        Voluptatem minima possimus maiores obcaecati ullam quam provident atque
        distinctio aliquam. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Velit dicta esse perferendis, alias sit illum modi reiciendis ea
        odio enim deleniti porro itaque accusantium eos rem accusamus odit, cum
        dolor! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Reprehenderit perspiciatis adipisci quos nemo inventore, sunt dolorum,
        praesentium fugiat laboriosam, velit mollitia expedita dolores eius
        neque modi quas deserunt sit ipsam. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Excepturi earum qui necessitatibus
        adipisci amet doloribus, reiciendis consectetur Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Facere, eius. Deleniti enim ut
        tenetur illum quae eligendi sed explicabo magni fuga, praesentium
        adipisci. Provident perspiciatis veritatis ipsum consequatur voluptate
        atque.
      </div>
    </div>
  </div>
</div>
