.main-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f4f4f5;
  min-height: 100vh;
}
/* estilos de desktop */

@media (min-width: 1024px) {
  .main-checkout {
    display: flex;
    flex-direction: row-reverse;
    gap: 14px;
    align-items: baseline;
  }
}
