<app-navbar></app-navbar>
<app-banner-home></app-banner-home>

<app-best-sellers></app-best-sellers>
<app-list-all-product></app-list-all-product>

<!-- *****NO BORRAR ESTE CODIGO, ES PARA ADICIONAR SECIONES ***** -->

<!-- tarjeta de producto -->
<!-- <div class="product-one m-auto my-2">
  <div class="circle"> -->
<!-- imagen del producto -->
<!-- <div class="circle-uno">
      <div class="circle-dos m-auto">
        <div class="img-product"></div>
      </div>
    </div>
  </div> -->
<!-- textos referente al producto -->
<!-- <div class="main-text_product">
    <p class="title-product text-center">ZX9 SPEAKER</p>
    <p class="text-center texto-description">
      Upgrade to premium speakers that are phenomenally built to deliver truly
      remarkable sound.
    </p>
    <button class="btn-see my-5">See Product</button>
  </div>
</div> -->
<!-- tarjeta de producto 2 -->
<!-- <div class="main-product2 my-2">
  <div class="sub-section">
    <h4 class="title-product2">ZX7 SPEAKER</h4>
    <button class="btn-see2">SEE PRODUCT</button>
  </div>
  <div class="img-product2"></div>
</div> -->
<!-- tarjeta de producto 3 -->
<!-- <div class="main-product3 my-2">
  <div class="img-product3"></div>
  <div class="sub-section_product3">
    <div class="sub-section_product3_item">
      <h4 class="title-product3">YX1 EARPHONES</h4>
      <button class="btn-see3">SEE PRODUCT</button>
    </div>
  </div>
</div> -->
<!-- <app-featured-description></app-featured-description> -->

<!-- *****NO BORRAR ESTE CODIGO, ES PARA ADICIONAR SECIONES  ***** -->

<app-footer></app-footer>
