<app-navbar></app-navbar>
<div style="height: 55vh">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1">403</h1>
        <h2 class="display-4">Permisos Insuficientes</h2>
        <p class="lead">
          Este usuario no cuenta con los permisos suficientes para ingresar al
          modulo solicitado, por favor
          <span class="text-danger"
            >NO intente ingresar si no esta autorizado </span
          >de lo contrario su cuenta será bloqueada en el 3 intento, si requiere
          ingresar a este modulo por favor consulte con el administrador. <br />
          Gracias por su comprensión.
        </p>
        <a routerLink="/home" class="btn btn-primary mt-3"
          >Ir A Página Principal</a
        >
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
