<div>
  <button
    #modalRememberPassword
    type="button"
    class="btn p-0"
    data-bs-toggle="modal"
    data-bs-target="#modalRememberPassword"
  >
    <p class="m-0 p-0" style="color: #fff"></p>
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="modalRememberPassword"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" style="color: black">
            Recuperación de contraseña
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="formSendData.reset()"
          ></button>
        </div>
        <form class="modal-body" [formGroup]="formSendData">
          <label for="correopass" class="form-label mb-1"
            >Por favor Ingresa tu dirección de correo electrónico a continuación
            y le enviaremos un enlace para restablecer su contraseña.
          </label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="correopass"
          />

          <p
            *ngIf="
              formSendData.get('email')?.invalid &&
              formSendData.get('email')?.touched
            "
            style="color: red"
          >
            formulario invalido
          </p>
        </form>
        <h3 *ngIf="mensaje !== ''" style="text-align: center">
          {{ mensaje }}
        </h3>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            style="border: solid 0.5px #646262"
            (click)="formSendData.reset()"
          >
            Cancelar
          </button>

          <button class="btn btn-primary" (click)="onSubmit()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
